header {

    display: grid;
    place-items: center;

    font-family: 'Roboto';
    font-weight: 500;

    .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        margin: 0 5vw;

        width: 90vw;

        @media only screen and (min-width: 768px) {
            nav {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 2em;
                
                
                .nav-link-wrapper {
                    
                    &:last-child {
                        background-color: white;
                        clip-path: polygon(5% 5%, 100% 0, 90% 100%, 0 100%);
                        transform: scale(1.05);
                    padding: .5em 1em;
                    
                    &>.nav-link {
                        color: #1E90FF;
                    }
                }
                .nav-link {
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    
                    text-transform: uppercase;
                    
                }
            }
            
        }
        }
    }

    @media only screen and (max-width: 767px) {

        nav {
            position: absolute;
        }

        .fa {
            color: white;
        }
    }
    
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 10vh;
    
    .logo {
        height: 8vh;
    }
}